click ==8.0.4
# torch ==1.10.2
pytorch-lightning ==1.5.10
torchmetrics ==0.7.2
neptune-client ==0.14.3
albumentations ==1.1.0
segmentation-models-pytorch ==0.2.1
# timm ==0.5.4
scikit-learn ==1.0.2
scipy ==1.8.0
